<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>A UIViewController for Collor</string>
	<key>Summary</key>
	<string>A UIViewController for Collor</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>DefaultCompletionName</key>
	<string>MyClass</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>controllerName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>UIViewController Name:</string>
			<key>Description</key>
			<string>The name of the controller to create</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>ViewController</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>collectionDataName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>CollectionData Name:</string>
			<key>Description</key>
			<string>The name of the collectionData to create</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>CollectionData</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
